@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
     .pattern {
        background-image: url("/image1.png") ; 
        background-position: center;
        background-repeat:  no-repeat;
        background-size: cover;

      
    }

    .pink_container {
        @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6 ;
    }

    .heading {
        @apply uppercase px-6 py-3 font-extrabold text-black sm:text-[33px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
    }

     .sub-heading {
        @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
    }

}